In [1]:
#Q1
import numpy, pandas

df = pandas.read_csv('SalaryGender.csv', delimiter=',')
salary = numpy.array(df['Salary'])
gender = numpy.array(df['Gender'])
phd = numpy.array(df['PhD'])
age = numpy.array(df['Age'])
print(df)

#Q2
import numpy, pandas

df = pandas.read_csv('SalaryGender.csv', delimiter=',')
salary = numpy.array(df['Salary'])
gender = numpy.array(df['Gender'])
phd = numpy.array(df['PhD'])
age = numpy.array(df['Age'])

men_count = 0
women_count = 0

for i in range(0, 100):
    if gender[i] == 1 and phd[i] == 1:
        men_count +=1
    if gender[i] == 0 and phd[i] == 1:
        women_count +=1

print(men_count)
print(women_count)


#Q3
import numpy, pandas

df = pandas.read_csv('SalaryGender.csv', delimiter=',')
salary = numpy.array(df['Salary'])
gender = numpy.array(df['Gender'])
phd = numpy.array(df['PhD'])
age = numpy.array(df['Age'])

frame = pandas.DataFrame()
frame["Age"] = age
frame["PhD"] = phd

for i in range(0, 100):
    if frame.loc[i]["PhD"] == 0:
        frame = frame.drop(i)

print(frame)

#Q4
import numpy, pandas

df = pandas.read_csv('SalaryGender.csv', delimiter=',')
salary = numpy.array(df['Salary'])
gender = numpy.array(df['Gender'])
phd = numpy.array(df['PhD'])
age = numpy.array(df['Age'])

men_count = 0
women_count = 0

for i in range(0, 100):
    if gender[i] == 1 and phd[i] == 1:
        men_count +=1
    if gender[i] == 0 and phd[i] == 1:
        women_count +=1

print(men_count + women_count)

#Q5
import numpy
arr = numpy.array([0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9])
print(numpy.bincount(arr))


#Q6
import numpy as np
x = np.array([[ 0,  1,  2],[ 3,  4,  5],[ 6,  7,  8],[ 9, 10, 11]])
print('Our array is:' )
print(x)
print('\n')
# Now we will print the items greater than 5
print('The items greater than 5 are:' )
print(x[x > 5])

#Q7
import numpy
a = numpy.array([numpy.nan, 1,2,numpy.nan,3,4,5])
print(a)
print(a[~numpy.isnan(a)])

#Q8
import numpy as np
Z = np.random.random((10,10))
Zmin, Zmax = Z.min(), Z.max()
print(Zmin, Zmax)

#Q9
import numpy as np
Z = np.random.random(30)
m = Z.mean()
print(m)


#Q10
import numpy as np
Z = np.arange(11)
Z[(3 < Z) & (Z <= 8)] *= -1
print(Z)

#Q11
Z = np.random.randint(0,10,(3,3))
print(Z)
print(Z[Z[:,1].argsort()])

#Q12
A = np.random.randint(0,10,(3,4,3,4))
sum = A.reshape(A.shape[:-2] + (-1,)).sum(axis=-1)
print(sum)

#Q13
A = np.arange(25).reshape(5,5)
A[[0,1]] = A[[1,0]]
print(A)

#Q14
Z = np.random.uniform(0,1,(10,10))
U, S, V = np.linalg.svd(Z) # Singular Value Decomposition
rank = np.sum(S > 1e-10)
print(rank)

#Q15
#Phase 1
import pandas as pd
df = pd.readf = pd.read_csv("middle_tn_schools.csv")
df.describe()
#Phase 2
df[['reduced_lunch', 'school_rating']].groupby(['school_rating']).describe().unstack()
#Phase 3
df[['reduced_lunch', 'school_rating']].corr()
#Phase 4
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.readf = pd.read_csv("middle_tn_schools.csv")
plt.figure(figsize=(14,8)) # set the size of the graph
_ = sns.regplot(data=df, x='reduced_lunch', y='school_rating')
plt.show()

#Phase 5
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.readf = pd.read_csv("middle_tn_schools.csv")
corr = df.corr()
_, ax = plt.subplots(figsize=(13,10))
# graph correlation matrix
_ = sns.heatmap(corr, ax=ax, xticklabels=corr.columns.values, yticklabels=corr.columns.values)
plt.show()

    Salary  Gender  Age  PhD
0   140.00       1   47    1
1    30.00       0   65    1
2    35.10       0   56    0
3    30.00       1   23    0
4    80.00       0   53    1
5    30.00       0   27    0
6    60.00       1   53    0
7    31.10       0   30    0
8   125.00       1   44    1
9    51.00       1   63    1
10    3.00       1   22    0
11   46.00       1   59    0
12  150.00       1   60    1
13    3.00       1   28    0
14  130.00       1   65    0
15   15.00       0   25    0
16  130.00       1   65    0
17   84.00       0   47    1
18  190.00       1   66    1
19   74.00       1   45    1
20   73.00       0   46    0
21   10.00       0   24    0
22   50.00       0   60    0
23    7.00       0   63    0
24    9.50       0   27    0
25   15.20       1   66    1
26   28.60       1   36    1
27   20.00       0   30    0
28   72.00       0   51    1
29   81.00       1   65    1
..     ...     ...  ...  ...
70   40.70       0   57    0
71   15.00       1   23    0
72    0.25       0   53    0
73  152.00       1   71    1
74   39.80       0   20    0
75   12.00       0   27    0
76   30.00       1   69    1
77  120.00       1   58    1
78    1.70       1   37    0
79   36.00       1   32    1
80   96.00       1   33    1
81   38.00       0   32    1
82   90.00       1   60    0
83    9.00       1   71    0
84   25.80       0   30    0
85   22.00       0   62    0
86   38.80       0   54    0
87   72.00       1   42    1
88   89.00       1   62    0
89   41.00       0   51    1
90   89.00       1   71    1
91   25.00       0   29    0
92   52.00       1   55    1
93  115.00       0   54    0
94   66.00       0   55    1
95   18.60       1   26    0
96  152.00       1   56    1
97    1.80       1   28    0
98   35.00       0   44    0
99    4.00       0   24    0

[100 rows x 4 columns]
24
15
    Age  PhD
0    47    1
1    65    1
4    53    1
8    44    1
9    63    1
12   60    1
17   47    1
18   66    1
19   45    1
25   66    1
26   36    1
28   51    1
29   65    1
30   45    1
31   52    1
32   54    1
38   34    1
41   58    1
42   77    1
45   48    1
47   49    1
49   65    1
54   49    1
56   61    1
57   43    1
60   66    1
63   56    1
73   71    1
76   69    1
77   58    1
79   32    1
80   33    1
81   32    1
87   42    1
89   51    1
90   71    1
92   55    1
94   55    1
96   56    1
39
[4 2 1 1 3 2 0 0 0 1]
Our array is:
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]


The items greater than 5 are:
[ 6  7  8  9 10 11]
[nan  1.  2. nan  3.  4.  5.]
[1. 2. 3. 4. 5.]
0.008102253259745451 0.9680351298882254
0.5411989574494657
[ 0  1  2  3 -4 -5 -6 -7 -8  9 10]
[[4 3 2]
 [5 9 7]
 [0 0 7]]
[[0 0 7]
 [4 3 2]
 [5 9 7]]
[[53 47 68 62]
 [49 37 68 39]
 [58 57 68 48]]
[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
10